<div class="wrapper-messages">
  <h4 class="title-messages">Messages</h4>
  <div class="list-messages">
    <mat-list>
      <mat-list-item *ngFor="let message of messages">
        <div class="icon-avatar" (click)="toggle()">
          <mat-icon matListIcon>favorite</mat-icon>
          <span class="likes" *ngIf="show">{{message.likes}}</span>
        </div>
        <img matListAvatar class="img-avatar" src="{{message.avatar}}" alt="avatar">
        <h3 matLine class="name-user">{{message.from}}</h3>
        <p matLine>
          <span>{{message.content}}</span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
