.table-users {
  thead, th, td {
    border-color: #8c8d87;
  }
  thead {
    color: #FF4500;
    font-weight: bold;
  }
}
.title-users {
  font-size: 16px;
  text-transform: uppercase;
  color: #6397ff;
  font-weight: bold;
  margin-bottom: 25px;
}

.wrapper-pagination {
  text-align: center;
}
