@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.table-users {

  @include respond-to(handhelds) {
    font-size: 10px;
  }
  thead, th, td {
    border-color: $grafit;

    @include respond-to(handhelds) {
      padding: 5px;
    }
  }
  thead {
    color: $orangered;
    font-weight: bold;
  }
}
.title-users {
  font-size: 16px;
  text-transform: uppercase;
  color: $blue;
  font-weight: bold;
  margin-bottom: 25px;

  @include respond-to(handhelds) {
    margin-bottom: 15px;
  }
}

.wrapper-pagination {
  text-align: center;

  @include respond-to(handhelds) {
    font-size: 13px;
  }
}
