<div class="wrapper-page">
  <nav *ngIf="condition" [@fadeIn]='state'>
    <ul class="list-nav">
      <li>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li>
        <a routerLink="/table" routerLinkActive="active">Table</a>
      </li>
      <li>
        <a routerLink="/list" routerLinkActive="active">List</a>
      </li>
      <li>
        <a routerLink="/post" routerLinkActive="active">Post</a>
      </li>
    </ul>
  </nav>
  <div class="wrapper-layout">
    <header class="top-menu">
      <div (click)="toggleButton()">
        <i class="material-icons menu-icon">
          reorder
        </i>
      </div>
      <div>
        <p class="text-question">Have questions? <a href="#">contact@ayoyo.com</a></p>
      </div>
      <div>
        <i class="material-icons icon-user">
          person
        </i>
      </div>
    </header>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
    <footer class="main-footer">
      <p>© 2010–2018 Yoyo</p>
    </footer>
  </div>
</div>

