<div class="wrapper-page">
  <nav *ngIf="condition" [@fadeIn]='state'>
    <ul class="list-nav">
      <li>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
    </ul>
  </nav>
  <div class="wrapper-layout">
    <header class="top-menu">
      <div (click)="toggleButton()">
        <i class="material-icons menu-icon">
          reorder
        </i>
      </div>
      <div>
        <form>
          <label>
            <i class="material-icons icon-search">
              youtube_searched_for
            </i>
            <input class="search-input" placeholder="Search for..."/>
          </label>
        </form>
      </div>
      <div>
        <p class="text-question">Have questions? <a href="#">contact@ayoyo.com</a></p>
      </div>
      <div>
        <i class="material-icons icon-user">
          person
        </i>
      </div>
    </header>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

