@import "../assets/styles/_mixins.scss";
@import "../assets/styles/_variables.scss";

.wrapper-page {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  user-select: none;

  button {
    outline: none;
  }

  nav {
    background-color: $light-black;
    width: 150px;
    height: 100vh;
    transform: none;
    transition: transform .2s;

    @include respond-to(handhelds) {
      height: auto;
    }
    @include respond-to(medium-screens) {
      height: auto;
    }
  }
}
  .wrapper-layout {
    display: flex;
    flex-direction: column;
    width: 100%;

  .top-menu {
    width: 100%;
    height: 40px;
    background-color: $light-black;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include respond-to(handhelds) {
      justify-content: space-between;
      padding-left: 10px;
    }
    @include respond-to(medium-screens) {
      justify-content: space-between;
      padding-left: 10px;
    }
  }

  .menu-icon {
    color: #d4d4d4;
    font-size: 30px;
    cursor: pointer;
    display: block;
  }

  .icon-search {
    color: $light-grey-two;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 10px;
  }

  .search-input {
    background-color: transparent;
    outline: none;
    border: none;
    color: #d4d4d4;
  }

  .icon-user {
    color: $light-grey-two;
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
  }

  .btn-user {
    padding: 0;

    @include respond-to(handhelds) {
      font-size: 10px;
      min-width: 45px;
    }
    @include respond-to(medium-screens) {
      font-size: 10px;
      min-width: 45px;
    }
    @include respond-to(wide-screens){
      font-size: 10px;
      min-width: 10px;
    }
  }

  .text-question {
    color: $light-grey-two;
    font-size: 15px;

    @include respond-to(handhelds) {
      font-size: 10px;
    }
  }

    label,p {
      margin-bottom: 0;
    }
}

.list-nav {
  list-style: none;
  margin-top: 25px;

  li {
    padding: 15px 20px;

    @include respond-to(handhelds) {
      padding: 10px 15px;
    }
  }

  a {
    text-decoration: none;
    color: $light-grey-two;
    font-size: 18px;
    font-weight: bold;

    @include respond-to(handhelds) {
      font-size: 15px;
    }
  }
}

  .main {
    padding: 20px;
    height: calc(100vh - 40px);

    @include respond-to(handhelds) {
      padding: 5px;
      height: auto;
    }
    @include respond-to(medium-screens) {
      height: auto;
    }
  }

.main-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:30px;
  background-color: $light-black;
  text-align: center;

  @include respond-to(handhelds) {
    position: relative;
  }

  p {
    color: $white;
    font-size: 12px;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
  }
}
