@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";

.wrapper-registration {
  margin: 0 auto;

  h4 {
    font-size: 16px;
    text-transform: uppercase;
    color: $blue;
    font-weight: bold;
    margin-bottom: 25px;

    @include respond-to(handhelds) {
      margin-bottom: 15px;
    }
  }

  .mat-form-field {
    width: 300px;
  }

  .form-registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    padding: 50px;
    height: 100%;
  }
}
