$blue: #6397ff;

$break-small: 576px;
$break-large: 768px;
$break-extra-large: 1200px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  } @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
      @content;
    }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $break-large + 1) and (min-width: $break-extra-large - 1) {
      @content;
    }
  }
}

.wrapper-registration {
  margin: 0 auto;

  h4 {
    font-size: 16px;
    text-transform: uppercase;
    color: $blue;
    font-weight: bold;
    margin-bottom: 25px;

    @include respond-to(handhelds) {
      margin-bottom: 15px;
    }
  }

  .mat-form-field {
    width: 300px;
  }

  .form-registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;
    padding: 50px;
    height: 100%;
  }
}
