.container-home {
  max-width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  padding:25px 0;

  button:focus {
    outline: none;
  }

  .items {
    max-width: 400px;
    height: 450px;
  }

  #left, #right {
    margin: 30px;
    cursor: pointer;
  }
}

