//responsive
$break-small: 500px;
$break-large: 720px;
$break-extra-large: 1024px;

//colors
$light-black: #182833;
$blue: #6397ff;
$dark-blue: #4675d2;
$orangered: #FF4500;
$red: #ff340a;
$rgba-grey-light: rgba(0,0,0,.3);
$dark-grey: #808080;
$grafit: #8c8d87;
$rgba-dark: rgba(0,0,0,.3);
$light-violet: #c3c5dd;
$light-grey: #d3dbe4;
$rgba-light: rgba(122, 123, 103, 0.19);
$rgba-grey:rgba(122, 123, 103, 0.19);
$light-grey-two: #d4d4d4;
$white: #fff;






