@import "../styles/_mixins.scss";
@import "../styles/_variables";

.wrapper-dashboard {

  .title-dashboard{
    font-size: 16px;
    text-transform: uppercase;
    color: $blue;
    font-weight: bold;
  }
  .wrapper-components {
    display: flex;
    padding-top: 15px;

    @include respond-to(handhelds) {
      display: block;
      padding-top: 0;
    }
    @include respond-to(medium-screens) {
      display: block;
      padding-top: 0;
    }

    .board {
      background-color: $white;
      border-radius: 5px;
      padding: 10px;

      @include respond-to(handhelds) {
        margin-bottom: 10px;
      }
      @include respond-to(medium-screens) {
        margin-bottom: 15px;
      }
    }

    .board:first-child {
      margin-right: 20px;
    }
    .pie-chart {
      width: 30%;

      @include respond-to(handhelds) {
        width: 100%;
      }
      @include respond-to(medium-screens) {
        width: 100%;
      }
    }

    .line-chart {
      width: 70%;

      @include respond-to(handhelds) {
        width: 100%;
      }
      @include respond-to(medium-screens) {
        width: 100%;
      }
    }
  }
}



